* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: mediumslateblue;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#calc {
  background-color: #2d2a37;
  width: 356px;
  height: 556px;
  border-radius: 48px;
  padding: 32px 32px 32px 32px;
}
#top {
  color: #ebebeb;
  margin: 26px 0;
}
#top p {
  font-size: 20px;
  opacity: 50%;
}
#top strong {
  font-size: 36px;
}
#soma {
  text-align: right;
}
#resultado {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#resultado p {
  font-size: 38px;
}

#bottons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}
#bottons button {
  width: 64px;
  height: 64px;
  border-radius: 999px;
  background-color: #2d2a37;
  color: #ebebeb;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
